In [2]:
import pandas as pd

In [12]:
df=pd.read_excel('nestle.xlsx','Only Data - Sales Analysis Dash',header=1)

In [14]:
df=df.drop(df.columns[0],axis=1)

In [15]:
df

,Sales ID,Date,Product Name,Total Revenue,Sales Location,Sales Medium,Sales count,Product Count
0,AT-18056,2020-06-07,Nescafe,279.30,Australian Capital Territory,Online,1,1
1,AT-9867,2019-05-14,Nescafe,263.46,Australian Capital Territory,Direct,1,1
2,AT-11225,2019-07-07,Nescafe,258.72,Australian Capital Territory,Online,1,1
3,AT-3208,2018-06-25,Nescafe,236.88,Australian Capital Territory,Online,1,1
4,AT-18812,2020-07-04,Nescafe,235.20,Australian Capital Territory,Online,1,1
...,...,...,...,...,...,...,...,...
18110,AT-15454,2020-01-10,Nescafe,257.25,Western Australia,Online,1,1
18111,AT-16636,2020-03-28,Nescafe,220.50,Western Australia,Online,1,1
18112,AT-16118,2020-02-26,Nescafe,171.50,Western Australia,Online,1,1
18113,AT-19208,2020-07-18,Nescafe,130.46,Western Australia,Online,1,1
18114,AT-20288,2020-08-27,Nescafe,130.46,Western Australia,Online,1,1

In [18]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [20]:
df.set_index(df.Date, inplace=True)

In [21]:
df

,Sales ID,Date,Product Name,Total Revenue,Sales Location,Sales Medium,Sales count,Product Count
Date,,,,,,,,
2020-06-07,AT-18056,2020-06-07,Nescafe,279.30,Australian Capital Territory,Online,1,1
2019-05-14,AT-9867,2019-05-14,Nescafe,263.46,Australian Capital Territory,Direct,1,1
2019-07-07,AT-11225,2019-07-07,Nescafe,258.72,Australian Capital Territory,Online,1,1
2018-06-25,AT-3208,2018-06-25,Nescafe,236.88,Australian Capital Territory,Online,1,1
2020-07-04,AT-18812,2020-07-04,Nescafe,235.20,Australian Capital Territory,Online,1,1
...,...,...,...,...,...,...,...,...
2020-01-10,AT-15454,2020-01-10,Nescafe,257.25,Western Australia,Online,1,1
2020-03-28,AT-16636,2020-03-28,Nescafe,220.50,Western Australia,Online,1,1
2020-02-26,AT-16118,2020-02-26,Nescafe,171.50,Western Australia,Online,1,1
2020-07-18,AT-19208,2020-07-18,Nescafe,130.46,Western Australia,Online,1,1
2020-08-27,AT-20288,2020-08-27,Nescafe,130.46,Western Australia,Online,1,1

In [22]:
new_df=df.fillna(0)

In [23]:
new_df

,Sales ID,Date,Product Name,Total Revenue,Sales Location,Sales Medium,Sales count,Product Count
Date,,,,,,,,
2020-06-07,AT-18056,2020-06-07,Nescafe,279.30,Australian Capital Territory,Online,1,1
2019-05-14,AT-9867,2019-05-14,Nescafe,263.46,Australian Capital Territory,Direct,1,1
2019-07-07,AT-11225,2019-07-07,Nescafe,258.72,Australian Capital Territory,Online,1,1
2018-06-25,AT-3208,2018-06-25,Nescafe,236.88,Australian Capital Territory,Online,1,1
2020-07-04,AT-18812,2020-07-04,Nescafe,235.20,Australian Capital Territory,Online,1,1
...,...,...,...,...,...,...,...,...
2020-01-10,AT-15454,2020-01-10,Nescafe,257.25,Western Australia,Online,1,1
2020-03-28,AT-16636,2020-03-28,Nescafe,220.50,Western Australia,Online,1,1
2020-02-26,AT-16118,2020-02-26,Nescafe,171.50,Western Australia,Online,1,1
2020-07-18,AT-19208,2020-07-18,Nescafe,130.46,Western Australia,Online,1,1
2020-08-27,AT-20288,2020-08-27,Nescafe,130.46,Western Australia,Online,1,1

In [25]:
us_weather=pd.DataFrame({
    "place":["seattle","washington","orlando"],
    "temperature":["cold","hot","humid"],
    "rating":[2,6,8]
})

In [26]:
ind_weather=pd.DataFrame({
    "place":["banaras","ghaziabad","noida"],
    "temperature":["cold","hot","hot"],
    "rating":[5,1,1]
})

In [28]:
pd.concat([us_weather,ind_weather],ignore_index=True)

        place temperature  rating
0     seattle        cold       2
1  washington         hot       6
2     orlando       humid       8
3     banaras        cold       5
4   ghaziabad         hot       1
5       noida         hot       1